@media (max-width: 900px) {
  .bo-trinhchieu {
    width: 100%;
  }

  .bo-trinhchieu .trinhchieu .thongtin {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .bo-trinhchieu .trinhchieu .thongtin h2 {
    font-size: 1.8em;
    line-height: 40px;
  }

  .bo-trinhchieu .trinhchieu .thongtin p {
    font-size: 0.9em;
  }
}

/* ============================================= */
@media (max-width: 820px) {
  .img-slider {
    width: 600px;
    height: 375px;
  }
  
  .img-slider .slide .info {
    padding: 10px 25px;
  }
  
  .img-slider .slide .info h2 {
    font-size: 35px;
  }
  
  .img-slider .slide .info p {
    font-size: 15px;
    width: 70%;
  }
  
  .img-slider .navigation {
    bottom: 25px;
  }
  
  .img-slider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px) {
  .img-slider {
    width: 400px;
    height: 250px;
  }
  
  .img-slider .slide .info {
    padding: 10px 20px;
  }
  
  .img-slider .slide .info h2 {
    font-size: 30px;
  }
  
  .img-slider .slide .info p {
    width: 80%;
    font-size: 13px;
  }
  
  .img-slider .navigation {
    bottom: 15px;
  }
  
  .img-slider .navigation .btn {
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }
  
  .img-slider .slide .info {
    padding: 5px 10px;
  }
  
  .img-slider .slide .info h2 {
    font-size: 25px;
  }
  
  .img-slider .slide .info p {
    width: 90%;
    font-size: 11px;
  }
  
  .img-slider .navigation {
    bottom: 10px;
  }
}